@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

html{
    background-color: #1A1A1A;
}

header{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-evenly;
}

.controlDiv {
    color: white;
    display: Flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    border-radius: 0.7em;
    padding: 20px;
    color: white;
    background-color: #1A1A1A;
    border: 2px solid white;
}

button:hover {
    cursor: pointer;
}

img {
    display: none;
}

.gridDiv {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}